
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* navbar---------------------------------------------------------------- */

.navbar{
    width: 1280px;
    min-height: 40px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-div{
    width: 820px;
    height: 650px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-home{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /* background-color: purple; */
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.list{
    width: 700px;
    height: 40px;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 12px;
}
.list2{
    width: 680px;
    height: 40px;
    list-style: none;
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list2 li{
    color: white;
}
.list2 li:hover{
    color: #145366;
    background-color: #a3e7fc;
    border-radius: 4px;
    padding: 2px;
}
.sign-in{
    width: 40px;
    height: 40px;
    font-size: 12px;
    border-radius: 50px;
    /* background-color: purple; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.sign-in:hover{
    color: #145366;
    background-color: #a3e7fc;
    border-radius: 4px;
    padding: 2px;
}
.navbar a{
    text-decoration: none;
}
.logo-img{
    width: 30px;
    height: 30px;
}
.logo-img:hover{
    width: 35px;
    height: 35px;
}
.list2 a{
    text-decoration: none;
}


/* navbar end----------------------------------------------------------------------- */

