* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar------------------ */
.navbar{
    width: 1263px;
    min-height: 40px;
    margin-top: 5px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-div{
    width: 820px;
    height: 650px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-home{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /* background-color: purple; */
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.list{
    width: 700px;
    height: 40px;
    /* background-color: purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 12px;
}
.list2{
    width: 680px;
    height: 40px;
    list-style: none;
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list2 li{
    color: white;
}
.sign-in{
    width: 40px;
    height: 40px;
    font-size: 12px;
    border-radius: 50px;
    /* background-color: purple; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
}
.logo-img{
    width: 30px;
    height: 30px;
}
.logo-img:hover{
    width: 35px;
    height: 35px;
}
.list2 a{
    text-decoration: none;
}
.list2 li:hover{
    color: #145366;
    background-color: #a3e7fc;
    border-radius: 4px;
    padding: 2px;
}
.sign-in:hover{
    color: #145366;
    background-color: #a3e7fc;
    border-radius: 4px;
    padding: 2px;
}



/* NAVBAR--END---------------------------------------------------------------------------- */
body {
    position: relative;
    height: 100vh;
    width: 10vw;
    background-image: linear-gradient(to bottom,#173552, #5497DA);
}
.topics-main-div {
    position: sticky;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h2-text {
    margin-top: 15px;
    color: white;
}
.topics-main-div ul a {
        font-size: 16px;
        color: #a3e7fc;
        background-color: #21374d;
        padding: 4px;
        border-radius: 8px;
}
.topics-main-div ul a:focus {
    color: #145366;
    background-color: #a3e7fc;
    padding-left: 7px;
    padding-right: 7px;
    
}
.categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin-top: 30px;
    
    
}
.categories a {
    text-decoration: none;
    border: 1px solid #3D8196;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    

}
.whole-cards {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: calc(100vh - 50px);
    gap: 40px; /* Added gap for space between categories */
}
.cards {
    width: 20vw;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding: 20px;
}
.cards div {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px;
    background-color: #d0e4f8;
    
}
.card1, .card2, .card3 {
    display: flex;
    flex-direction: column;
    position: relative;
}
.card1 h4, .card2 h4, .card3 h4 {
    position: absolute;
    top: 25px;
    left: 20px;
    font-weight: 900;
    font-size: large;
    color: #145366;
}
.card1 p, .card2 p, .card3 p {
    position: absolute;
    top: 50px;
    left: 20px;
    color: #3e5860;
}
.card1 img, .card2 img, .card3 img {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 120px;
    left: 80px;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) { /* For medium screen devices (tablets) */

    /* ---NAVBAR------------------------------------------------------------------------------ */
    .navbar{
        width: 1263px;
        min-height: 40px;
        font-size: 22px;
        /* background-color: aqua; */
        
    }
    .logo-home{
        width: 40px;
        height: 40px;
        /* background-color: purple; */
    }
    .list{
        width: 700px;
        height: 40px;
        /* background-color: purple; */
    }
    .sign-in{
        width: 50px;
        height: 50px;
        font-size: 18px;
        /* background-color: purple; */
    }



    /* ---NAVBAR--END------------------------------------------------------- */
    .topics-main-div {
        position: sticky;
        width: 1263px;
        height: 790px;
        display: flex;
        background-image: linear-gradient(to bottom,#2b5177, #5497DA);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .whole-cards {
        flex-direction: row;
        gap: 20px;
        width: 80vw;
    }
    .cards {
        width: 100vw; /* Slightly smaller cards */
        height: 1000px;
        display: flex;
        flex-direction: column;
    }
    .cards div {
        width: 400px;
        height: 600px;
    }
    .card1 img, .card2 img, .card3 img {
        width: 170px;
        height: 150px;
        position: absolute;
        top: 120px;
        left: 110px;
    }
    .card1 h4, .card2 h4, .card3 h4 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bolder;
    font-size: 22px;
    }
    .card1 p, .card2 p, .card3 p {
    position: absolute;
    top: 53px;
    left: 20px;
    font-size: 16px;
    }
    .categories {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
    font-size: 23px;
    
    }
    .h2-text {
        font-size: 30px;
        font-weight: 800;
    }
    .topics-main-div ul a {
        font-size: 20px;
        color: #a3e7fc;
        background-color: #2b5177;
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #a3e7fc ;
    
}
.topics-main-div ul a:focus {
    color: #145366;
    background-color: #a3e7fc;
    padding-left: 7px;
    padding-right: 7px;
    
}
}

@media (max-width: 768px) { /* For small screen devices (mobile phones) */
    /* ---------------NAVBAR--------------------------------------------------------------- */
    .navbar{
        width: 1263px;
        min-height: 100px;
        font-size: 30px;
        background-image: linear-gradient(to right, #132332,#273b4f);
        
    }
    .logo-home{
        width: 70px;
        height: 70px;
        /* background-color: purple; */
    }
    .list{
        width: 730px;
        height: 60px;
        /* background-color: purple; */
    }
    .sign-in{
        width: 70px;
        height: 70px;
        font-size: 23px;
        /* background-color: purple; */
    }

    /* --------NAVBAR---END--------------------------------------------------------------------- */
    .topics-main-div{
        width: 1263px;
        height: 1888px;
        background-image: linear-gradient(to bottom,#2b5177, #5497DA);
        background-color: #2b5177;
    }
    
    .whole-cards {
        
        display: flex;
        flex-direction: row;
        /* background-color: #5497DA; */
        gap: 5px;
        width: 800px;
        height: 1200px;
        margin-bottom: 200px;
    }
    .cards {
        width: 600px; /* More space for cards */
        height: 2000px;
        display: flex;
        flex-direction: column;
        /* background-color: yellowgreen; */
    }
    .cards div {
        width: 700px;
        height: 800px;
        border-radius: 50px;
    }
    .card1 img, .card2 img, .card3 img {
        width: 400px;
        height: 350px;
        position: absolute;
        top: 250px;
        left: 140px;
    }
    .card1 h4, .card2 h4, .card3 h4 {
    position: absolute;
    top: 25px;
    left: 35px;
    font-weight: 800;
    font-size: 60px;
    }
    .card1 p, .card2 p, .card3 p {
    position: absolute;
    top: 100px;
    left: 35px;
    font-size: 40px;
    }
    .categories {
        width: 900px;
        height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    /* background-color: #191b1b; */
}
.topics-main-div ul a {
        font-size: 50px;
        color: #a3e7fc;
        background-color: #2b5177;
        padding: 9px;
        border-radius: 19px;
        border: 1px solid #a3e7fc ;
    
}
.topics-main-div ul a:focus {
    color: #145366;
    background-color: #a3e7fc;
    padding-left: 7px;
    padding-right: 7px;
    
}
.h2-text{
    font-size: 80px;
    font-weight: 800;
    color: white;
}
}